/*demo layout*/
body{ font-family:"微软雅黑";}

#demo-content {position:relative;height:95%;}
.demo-content .demo-sidebar {width:270px;position:fixed;top:84px;bottom:0;background-color: #3271cf;overflow: auto;}
.demo-content .trigger-s {position: fixed;width:8px;top:84px;bottom:0; border:1px solid #dcdcd7;background: #fff;}
.demo-content .demo-main {position:relative;box-sizing:border-box;height:100%;bottom:3px;}
.sidebar-left .demo-main {margin:0 0 0 280px;}
.sidebar-left .trigger-s {left:270px;}

.hideTriggers .demo-sidebar {display: none;}
.sidebar-left.hideTriggers .demo-main {margin-left:10px;}
.sidebar-left.hideTriggers .trigger-s {left:0;}

.demo-sidebar a {color:white;}
.demo-sidebar .demo-sidemenu .sidemenu-group {border:1px solid #dcdcd7;border-left: none;
    border-right: none;
    border-top-color: rgba(255, 255, 255, 0.15);
    border-bottom-color: rgba(0, 0, 0, 0.35);
    border-radius: 0;
}
.demo-sidemenu .sidemenu-group .sidemenu-toggle {font-size:1.5em; padding:13px 14px; display:block;}
.sidemenu-group ul a {display: block;padding:8px 15px 6px 30px;font-size:1.2em; color:white;}
.sidemenu-group .sidemenu-toggle .ico {width:24px;height:24px;}
.sidemenu-group .sidemenu-toggle .icon-home {background-position: 0 -1px;}
.sidemenu-group .sidemenu-toggle .icon-grids {background-position: -72px -1px;}
.sidemenu-group .sidemenu-toggle .icon-form {background-position: -24px -1px;}
.sidemenu-group .sidemenu-toggle .icon-table {background-position: -48px -1px;}
.sidemenu-group .sidemenu-toggle .icon-dialog {background-position: -96px -1px;}
.sidemenu-group .sidemenu-toggle .icon-chart {background-position: -120px -1px;}
.sidemenu-group .sidemenu-toggle .icon-slider {background-position: -144px -1px;}
.sidemenu-group .sidemenu-toggle .icon-icons {background-position: -168px -1px;}
.sidemenu-group .sidemenu-toggle .icon-calendar {background-position: -192px -1px;}
.sidemenu-group .sidemenu-toggle .icon-loading {background-position: -216px -1px;}
.sidemenu-group .sidemenu-toggle .icon-comT {background-position: -240px -1px;}
.sidemenu-group .sidemenu-toggle .icon-button {background-position: -264px -1px;}
.sidemenu-group .sidemenu-toggle .icon-tabs {background-position: -96px -25px;}
.sidemenu-group .sidemenu-toggle .icon-scroll {background-position: -120px -25px;}
.sidemenu-group .sidemenu-toggle .icon-right-open {background-position: -4px -30px;}
.sidemenu-group .sidemenu-toggle i {float:right;}
.sidemenu-group .accordion-content {background: rgba(0, 0, 0, 0.15);-webkit-box-shadow: inset 0 2px 6px -1px rgba(0, 0, 0, 0.3), inset 0 -2px 6px -1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 2px 6px -1px rgba(0, 0, 0, 0.3), inset 0 -2px 6px -1px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 2px 6px -1px rgba(0, 0, 0, 0.3), inset 0 -2px 6px -1px rgba(0, 0, 0, 0.1);}

/*demo main*/

/*demo triggers*/
.sidebar-left .trigger-s .ico {position: absolute;top:50%;width:9px;background-position:-80px -28px;}

/*common sytles*/
.collapse {position:relative;height:0;}
.icon-right-dir {display:inline-block;width:1em;line-height: 1em;}
.icon-right-dir:before {content:'\25b8';display:inline-block;width:1em;line-height: .6em;font-style: normal;font-size:1.5em;}
/*覆盖框*/
.cover{
    background: url("../img/php.jpg") no-repeat center;
    background-size: cover;
}
/*demo pre style*/
.html:after {
    content: "html";
    font-family:"微软雅黑";
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    color: #9da0a4;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
} .js:after {
    content: "javascript";
    font-family:"微软雅黑";
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    color: #9da0a4;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}
pre{
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 20px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
    white-space: pre-wrap;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.15);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-family: "arial";}
pre.html.sh_html.snippet-formatted.sh_sourceCode{padding: 2.3em;}
.snippet-wrap pre.sh_sourceCode{padding: 2.3em;}
.msg-cnt pre{ border: none;}
.msg-cnt pre:after{content: none;}

/*common style*/
ul li {font-size:1.1em;}

