/* hack style sheet for ie6 ie7 ie8*/

/*
"ui_custom";
***********************************/
.ui-helper-zfix { filter: Alpha(opacity = 0); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=0)";}
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary,  .ui-widget-header .ui-priority-secondary { filter: Alpha(opacity = 70); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=70)";}
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled { filter: Alpha(opacity = 35); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=35)";}
.ui-widget-overlay { filter: Alpha(opacity = 50); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=50)";}
.ui-widget-shadow { filter: Alpha(opacity = 30); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=30)";}
.ui-menu .ui-menu-item a { filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f5f5f5',GradientType=0 ); }
.ui-menu .ui-menu-item a.ui-state-hover, .ui-menu .ui-menu-item a.ui-state-focus { filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4179C6', endColorstr='#1F52AE',GradientType=0 ); }
/*
.ui-dialog .ui-dialog-buttonpane button { filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ba5cb', endColorstr='#3a70ab',GradientType=0 ); }
*/
.ui-widget-shadow { filter: Alpha(opacity = 30); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=30)";}
.ui-slider .ui-slider-range { filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9bcff5', endColorstr='#84c4f3',GradientType=0 ); }
.ui-slider-vertical .ui-slider-range { filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9bcff5', endColorstr='#84c4f3',GradientType=0 ); }
.ui-datepicker .ui-datepicker-header { filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D73D3D', endColorstr='#D73D3D',GradientType=0 ); }
.ui-datepicker td .ui-state-default { filter: none; -ms-filter: none;}

/*
"bootstrap";
***********************************/
.caret { filter: Alpha(opacity = 60); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=60)";}
.dropdown:hover .caret, .open .caret { filter: Alpha(opacity = 30); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=30)";}
.dropdown-menu li a { filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f5f5f5',GradientType=0 ); }
.dropdown-menu li.active a, .dropdown-menu li a:hover { filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4179C6', endColorstr='#1F52AE',GradientType=0 ); }
.menu-group dl dd li a:hover { filter: none; -ms-filter: none;}
.progress.vertical { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=1); }
.progress.vertical .bar { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf', endColorstr='#ff0480be', GradientType=1); }
.progress-danger.vertical .bar,
.progress.vertical .bar-danger { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffc43c35', GradientType=1); }
.progress-success.vertical .bar,
.progress.vertical .bar-success { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff57a957', GradientType=1); }
.progress-info.vertical .bar,
.progress.vertical .bar-info { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff339bb9', GradientType=1); }
.progress-warning.vertical .bar,
.progress.vertical .bar-warning { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=1); }
.progress { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#fff5f5f5', endColorstr = '#fff9f9f9', GradientType = 0); }
.progress .bar { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#349EF2', endColorstr='#1168BC', GradientType=0); }
.progress-danger .bar,
.progress .bar-danger { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffc43c35', GradientType=0); }
.progress-success .bar,
.progress .bar-success { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff57a957', GradientType=0); }
.progress-info .bar,
.progress .bar-info { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff339bb9', GradientType=0); }
.progress-warning .bar,
.progress .bar-warning { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0); }
.progress-colors { filter: none; }
.progress-colors .bar,
.progress .bar-colors { filter: none; }
.bootstrap-datetimepicker-widget .picker-switch a.active,
.bootstrap-datetimepicker-widget .picker-switch a:hover { filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D73D3D', endColorstr='#D73D3D',GradientType=0 ); }
.bootstrap-datetimepicker-widget .timepicker a.btn:hover { filter: none; -ms-filter: none;}
.bootstrap-datetimepicker-widget td.old, .bootstrap-datetimepicker-widget td.new,
.bootstrap-datetimepicker-widget td .old, .bootstrap-datetimepicker-widget td .new,
.bootstrap-datetimepicker-widget td.active.disabled, .bootstrap-datetimepicker-widget td.active[disabled],
.bootstrap-datetimepicker-widget td span.disabled, .bootstrap-datetimepicker-widget td span[disabled] { filter:Alpha(opacity = 35); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=35)";}
.bootstrap-datetimepicker-widget thead tr:first-child { filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D73D3D', endColorstr='#D73D3D',GradientType=0 ); }
.popover.right .arrow { filter: Alpha(opacity = 80); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=80)";}
/*
"plugins";
***********************************/
ul.tmpTargetzTree { filter: Alpha(opacity = 80); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=80)";}
ul.ztree.zTreeDragUL { filter: Alpha(opacity = 80); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=80)";}
.zTreeMask { filter: Alpha(opacity = 0); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=0)";}
div.sticky-overlay { filter: Alpha(opacity = 50); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=50)";}
.chzn-container-single .chzn-single { filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#f1f1f1',GradientType=0 ); }
.ibutton-container input { filter: Alpha(opacity = 0); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=0)";}
.ibutton-disabled { filter: Alpha(opacity = 60); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=60)";}
.tipsy-wrapper { filter: none; -ms-filter: none;}
.tipsy-arrow { filter: none; -ms-filter: none;}
.select2-container .select2-choice { /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#ffffff', GradientType = 0); */ }
.select2-container.select2-drop-above .select2-choice { /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 ); */ }
.select2-container .select2-choice div { /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#cccccc', endColorstr = '#eeeeee', GradientType = 0); */ }
.form-dark .select2-dropdown-open .select2-choice,
.select2-dropdown-open .select2-choice { /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); */ }
.select2-container.select2-container-disabled .select2-choice div b { filter: Alpha(opacity = 25); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=25)";}
.select2-container-multi .select2-choices .select2-search-choice {
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

/*
"styles";
***********************************/
.bUpload .iUpload { filter: Alpha(opacity = 0); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; }
.disabled { filter: Alpha(opacity = 60); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=60)";}
.disabled .ico { filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1); filter: Alpha(opacity = 50); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=50)";}
.disabled ul { filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1); }
.loading-overlay .shadow { filter: Alpha(opacity = 20); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=20)";}
.shadow { filter: Alpha(opacity = 40); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=40)";}
.dialog .loading-overlay .shadow { filter: none; }
.tooltip { filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b3b3b', endColorstr='#1d1d1d',GradientType=0 ); }
.niceList li { filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f5f5f5',GradientType=0 ); }
#toTopHover{ filter: Alpha(opacity = 0); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=0)";}
#top-shadow { filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,Shadowopacity = 0.30); -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,Shadowopacity = 0.30)"; }
#header { filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2F4B94', endColorstr='#2A4288',GradientType=0 ); }
.topSearch .shadow { filter: none; -ms-filter: none;}
ul.userNav li ul li .recentApps li a { filter: none; }
.mainNav .shadow { filter: none; -ms-filter: none;filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#273F7D', endColorstr='#2E4A93',GradientType=0 ); }
.subNav dt { filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#e8e8e8',GradientType=0 ); }
ul.ztree li a.disabledNode span { filter: Alpha(opacity = 50); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=50)";color:#999999;text-decoration:none;}
ul.ztree li a.disabledNode .node-editor span { filter: none; -ms-filter: none; background-color: #fff; }
.storages li .storage-content { filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr='#AAB6C4',endcolorstr='#B7C1CE',gradientType=0); }
.storages li.error .storage-content { filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr='#E64940',endcolorstr='#EA5D54',gradientType=0); }
.dashboard dd li a.thumb:hover { filter: Alpha(opacity = 80); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=80)";}
.dashboard .general-panel { filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E1DDD2', endColorstr='#ffffff',GradientType=0 ); }
.block-simple .hd { filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F9F9F8', endColorstr='#E9E9E4',GradientType=0 ); }
.block-locked .shadow { filter: Alpha(opacity = 80); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=80)";}
.switchable-nav a.disabled { filter: none; -ms-filter: none;}
ul.breadcrumbs li ul a { filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f5f5f5',GradientType=0 ); }
ul.breadcrumbs li.hover ul a:hover { filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4179C6', endColorstr='#1F52AE',GradientType=0 ); }
.breadLinks ul li a:hover { filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#eaeaea',GradientType=0 ); }
.breadLinks ul li ul li a { filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f5f5f5',GradientType=0 ); }

.buttonS.disabled, .buttonM.disabled, .buttonL.disabled, .buttonH.disabled, .buttonW.disabled, .dualBtn.disabled, .ui-dialog .ui-dialog-buttonpane button.disabled,
.btn-group.disabled .buttonS, .btn-toolbar .buttonS.disabled, .input-append.disabled .buttonS { filter: none; filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1); }
.btn-group.disabled, .input-append.disabled { filter: none; -ms-filter: none;}

.nWarning { filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffedbc', endColorstr='#fbe5a8',GradientType=0 ); }
.nSuccess { filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6efa1', endColorstr='#d0e69d',GradientType=0 ); }
.nFailure { filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b5a1', endColorstr='#de9d8a',GradientType=0 ); }
.nInformation { filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deedf9', endColorstr='#cde5f7',GradientType=0 ); }
.pages li a,
input.jumpToBtn { /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#eeeeee',GradientType=0 ); */}
.pages li a:hover,
input.jumpToBtn:hover { filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#737373', endColorstr='#737373',GradientType=0 ); }
.pages li .active, .pages li a:active, .pages li .active:hover { filter: none; -ms-filter: none;}
div.selector { filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#f1f1f1',GradientType=0 ); }
div.selector select { filter: Alpha(opacity = 0); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=0)";}
div.checker input { filter: Alpha(opacity = 0); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=0)";}
div.checker.disabled { filter: none; -ms-filter: none;background: #fff; }
div.radio input { filter: Alpha(opacity = 0); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=0)";}
div.radio.disabled { filter: none; -ms-filter: none;background: #fff; }
div.uploader input { filter: Alpha(opacity = 0); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=0)";}
.tGrey thead td { filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#dddddd',GradientType=0 ); }
.tGrey tbody tr td { filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f2f2f2',GradientType=0 ); }

/*
"monitor";
***********************************/
.tab-content .control-mask { filter: Alpha(opacity = 30); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=30)";}
.controller .speed .volume .ui-slider-range { filter: none; -ms-filter: none;}
.monitor-toolbar .divider { filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ACACAC', endColorstr='#7E7E7E',GradientType=0 ); }
.ocx-draggable .ui-draggable-disabled { filter: none; -ms-filter: none;}
.sticky.st-msg .sticky-close { filter: none; -ms-filter: none;}
.sticky.st-msg .pagination a { filter: none; -ms-filter: none;}
.monitor-toolbar .bDefault.disabled, .monitor-toolbar .btn-group.disabled .bDefault { filter: none; filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1); }
/*
"replay";
***********************************/
.spot-list dl dt .more a i { filter: Alpha(opacity = 80); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=80)";}

/*
"alarm";
***********************************/
.video-list ul li a.thumb i { filter: Alpha(opacity = 80); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=80)";}

