html { height: 100%; overflow: hidden; }
body { margin: 0; height: 100%; overflow: auto; background: #ffffff; font-size: 12px; }
.wrapper {position:relative;height:100%;min-height:640px;}
.login-wrapper { margin-top: -315px; position: absolute; top: 50%; width: 100%; }
.header { margin: 0 auto; padding: 25px 0; width: 990px; height: 50px; }
.header h1 { margin: 0 0 0 20px; font-size: 26px; font-family: "微软雅黑"; font-weight: 600; width: 500px; height: 50px; line-height: 50px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.header .logo {cursor:default;}
.header .logo img { margin: 0 0 0 20px; height: 50px; }

.login-content { position: relative; padding: 45px 0; min-width: 900px; /*box-shadow: 0 0 5px rgba(0, 0, 0, .2) inset;*/ background: url(../images/login/login_content_bg.png) repeat-x center center; }
.login-banner { margin: 0 auto; width: 990px; height: 350px; background: url(../images/login/banner.png) no-repeat left center; }
.login-panel { position: absolute; left: 50%; top: 45px; margin: 0 0 0 190px; _margin-left: -30px; width: 290px; height: 350px; box-sizing: border-box; border: 1px solid #E7E7E7; border-radius: 3px; }
.login-panel h3 { visibility: hidden; height: 10px; }
.login-form { margin: 0 35px; width: 220px; }
#login_msg { margin: 0 0 5px; visibility: hidden; height: 25px; line-height: 25px; }
#login_msg i,
#login_msg span { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; }
#login_msg i { margin: 0 5px 0 0; background: url(../images/login/error.gif) no-repeat 0 -1px; width: 16px; height: 16px; }

.login-input,
.ocx-download { position: relative; padding-bottom: 10px; min-height: 35px; width: 220px; }
.placeholder { position: absolute; left: 0; top: 0; margin: 0; padding: 5px 0 5px 11px; line-height: 25px; color: #999; }
input.input-text { padding: 5px 10px; width: 198px; height: 23px; line-height: 23px \9; font-size: 14px; border: 1px solid #D6D6D6; background: #F3F3F3; box-shadow: 0 1px 2px rgba(0, 0, 0, .2) inset; border-radius: 3px; }
input.input-text.active,
input.input-text.active.error { padding: 5px 10px; background: #fff;
    border-color:rgba(0,153,255, 0.8);
    border-color:#09f \9;
    -webkit-transition:border linear 0.2s,box-shadow linear 0.2s;
    -moz-transition:border linear 0.2s,box-shadow linear 0.2s;
    -ms-transition:border linear 0.2s,box-shadow linear 0.2s;
    -o-transition:border linear 0.2s,box-shadow linear 0.2s;
    transition:border linear 0.2s,box-shadow linear 0.2s;
    outline:none;
    box-shadow:inset 0 1px 1px rgba(0,0,0,.1), 0 0 8px rgba(0,153,255,.6);
}
input.input-text.error { padding: 5px 10px; border: 1px solid #cc0000; }
.btn { margin-bottom: 10px; padding: 8px; display: block; background: #203D8D; color: #fff; font-size: 16px; font-weight: bold; text-align: center; border-radius: 3px; clear: both; }
.btn:hover { color: #fff; opacity: 0.9; filter: alpha( opacity = 90 ); }
.btn:active { opacity: 1; filter: alpha( opacity = 100 ); }
.login_btn {}
.certificate_login_btn { background: #418D20; }
.diviver { margin-bottom: 10px; background: url(../images/login/diviver.png) no-repeat center center; height: 11px; font-size: 0; }

#certificate_login_btn, .diviver { visibility: hidden; }

.footer { margin: 10px 0; height: 80px; }
.footer .copyright { color: #999; padding: 5px 10px; text-align: center; }
.footer .copyright .logo { margin-right: 10px; background: transparent url(../images/sprite.png) no-repeat -30px -12px; width: 74px; height: 10px; font-size: 0; display: inline-block; *display: inline; *zoom: 1; vertical-align: -1px; }